<div class="main d-flex flex-column">
	<img src="{{project.image}}" routerLink="/projects/{{project._id}}">
	<div *ngIf="auth.isAuthenticated()" class="d-flex overlay">
		<img class="menu-buttons" routerLink="/add/{{project._id}}" src="assets/indoo.design/icons/edit.png">
		<img class="menu-buttons" (click)="deleteProject()" src="assets/indoo.design/icons/rubbish-bin.png">
	</div>
	<div class="category mt-1">
		{{project.category}}
	</div>
	<div class="details mt-1">
		<p>Location: {{project.location}} | Area: {{project.area}} | Status: {{project.status}}</p>
	</div>
</div>