<div class="main d-flex">
	<div class="logo-pictures-copyright d-flex flex-column">
		<img class="logo" src="assets/indoo.design/logo.png" routerLink="/">
		<div class="navigation-menu-phone titleclass2 pt-2 pr-4">
			<span routerLink="/" href="">HOME -&nbsp;</span>
			<span routerLink="/projects" href="">PROJECTS -&nbsp;</span>
			<span routerLink="/projects/1" href="">APARTAMENT 028</span>
		</div>
		<div class="pictures d-flex flex-column pr-3">
			<img *ngFor="let picture of project.photoUrls" (click)="changeImage(picture)" class="small-picture mb-3" src="{{picture}}">
		</div>
		<div class="copyright">
			<p>© indoo.design</p>
		</div>
	</div>
	<div class="right-side d-flex flex-column">
		<div class="top-menu d-flex">
			<span class="navigation-menu titleclass2">
				<span routerLink="/">HOME</span>
				<span class="separator">&nbsp;-&nbsp;</span>
				<span routerLink="/projects">PROJECTS</span>
				<span class="separator">&nbsp;-&nbsp;</span>
				<span>APARTAMENT 028</span>
			</span>
			<span class="photos-menu pr-4 titleclass2"> photos | renderings | all </span>
		</div>
		<div class="large-image pt-4 pl-3 pr-3 pb-3 align-self-end">
			<img class="large-image pr-2" src="{{project.image}}">
			<div class="social d-flex pt-3">
				<img class="social-image" src="assets/indoo.design/icons/facebook.png">
				<img class="social-image" src="assets/indoo.design/icons/instagram.png">
				<img class="social-image" src="assets/indoo.design/icons/pinterest.png">
			</div>
		</div>
	</div>
	<div class="pictures-phone d-flex pb-2">
		<img *ngFor="let picture of project.photoUrls" (click)="changeImage(picture)" class="small-picture pr-3" src="{{picture}}">
	</div>
	<div class="social-phone d-flex pt-5">
		<img class="social-image" src="assets/indoo.design/icons/facebook.png">
		<img class="social-image" src="assets/indoo.design/icons/instagram.png">
		<img class="social-image" src="assets/indoo.design/icons/pinterest.png">
	</div>

	<div class="copyright-phone pt-5">
		<img class="copyright-symbol" src="assets/indoo.design/icons/copyright-symbol.png">
			indoo.design
	</div>
</div>