@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.main {
	padding: 2.5vh 2.5vh 2.5vh 4vh;
	max-width: 100%;
	justify-content: space-between !important;
	
	@include media-breakpoint-down(sm) {
		flex-direction: column;
		height: 100%;
		padding-top: 0;
	}
}

.left-space {
	justify-content: space-between;
	min-height: 94.7vh;
	width: 46.5%;

	@include media-breakpoint-down(sm) {
		height: 100px !important;
		min-height: 0px;
	}
}

.logo-menu {
	justify-content: space-between;
	
	@include media-breakpoint-down(sm) {
		width: 100%;
		height: 80px;
		padding-top: 20px;
		background-color: white;
		position: fixed;
		background: white;
		z-index: 10;
	}
}

.logo {
	height: 36px;
	width: 60px;
}

.top-menu-phone {
	display: none;
	@include media-breakpoint-down(sm) {
		display: unset;
		margin-top: 10px;
		padding-right: 55px;
	}
}

.copyright {
	position: absolute;
	bottom: 0;
	font-size: 10px;
  margin-bottom: 5px;
  color: #808080;
	@include media-breakpoint-down(sm) {
		display: none;
	}
}


.right-side {
	max-height: 100%;
	max-width: 100%;
}

.top-menu {
	height: 5vh;

	@include media-breakpoint-down(sm) {
		display: none !important;
	}
}


.top-menu span:hover {
  font-weight: 600;
  cursor: pointer;
}

.preview {
	max-height: 80vh;

	@include media-breakpoint-up(sm) {
		overflow-y: scroll;
	}

	@include media-breakpoint-down(sm) {
		height: 100%;
		width: 100%;
	}
}

::-webkit-scrollbar {
  width: 2px;
  padding-left: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightgrey; 
}

::-webkit-scrollbar-thumb {
  background: grey; 
}

app-project-preview {
	padding-right: 1.5vh;

	@media only screen and (min-width : 2000px) {
		width: 25%;
	}

	@include media-breakpoint-down(xl) {
		width: 33.33%;
	}

	@include media-breakpoint-down(sm) {
		width: 100%;
	}

}

.social-image {
	max-height: 15px;
	max-width: 15px;
}

.social {
	width: 100px;
	justify-content: space-between;

	@include media-breakpoint-down(sm) {
		align-self: center;
		padding-bottom: 20px;
		display: none !important;
	}
}

.add-button {
}

.titleclass {
  font-family: PT Sans Regular;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 3px;
}

.titleclass2 {
  font-family: Montserrat Medium;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 3px;
  color: #282828;
}
