<section class="main d-flex">
	<div class="left-space d-flex flex-column flex-grow-1">
		<div class="d-flex logo-menu">
			<img class="logo" src="assets/indoo.design/logo.png" routerLink="/">
			<span class="top-menu-phone titleclass2">
				<span routerLink="/">Home -&nbsp;</span>
				<span>Projects</span>
			</span>
		</div>
		<div class="copyright">
			<p>© indoo.design</p>
		</div>
	</div>
	<div class="right-side d-flex flex-column">
		<div class="top-menu d-flex titleclass2">
			<span routerLink="/">Home -&nbsp;</span>
			<span>Projects</span>
		</div>
		<div class="preview d-flex flex-wrap">
			<app-project-preview *ngFor="let project of projects | async" [project]="project"></app-project-preview>
		</div>
		<div class="d-flex social mt-auto">
			<a href="https://www.facebook.com/indoodesign/" target="_blank"><img class="social-image" src="assets/indoo.design/icons/facebook.png"></a>
			<a href="https://www.instagram.com/indoodesign/" target="_blank"><img class="social-image" src="assets/indoo.design/icons/instagram.png"></a>
			<a href="https://www.pinterest.com/indoodesign/" target="_blank"><img class="social-image" src="assets/indoo.design/icons/pinterest.png"></a>
		</div>
	</div>
</section>
