<section class="main d-flex">
	<div class="large-menu d-flex flex-column">
		<div class="logo-links d-flex pb-3">
			<img class="logo" src="assets/indoo.design/logo.png">
			<div class="links d-flex flex-column titleclass2">
				<p routerLink="/projects">Projects</p>
				<p class="separator">&nbsp;-&nbsp;</p>
				<p routerLink="/objects">Objects</p>
				<p class="separator">&nbsp;-&nbsp;</p>
				<p routerLink="/contact">Contact</p>
			</div>
		</div>
		<div class="copyright-social d-flex">
      <div class="copyright">
        <span>© indoo.design</span>
      </div>
			<div class="social d-flex">
				<a href="https://www.facebook.com/indoodesign/" target="_blank"><img class="social-image" src="assets/indoo.design/icons/facebook.png"></a>
				<a href="https://www.instagram.com/indoodesign/" target="_blank"><img class="social-image" src="assets/indoo.design/icons/instagram.png"></a>
				<a href="https://www.pinterest.com/indoodesign/" target="_blank"><img class="social-image" src="assets/indoo.design/icons/pinterest.png"></a>
			</div>
		</div>
	</div>
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block large-image" src="assets/indoo.design/slides/slide1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block large-image" src="assets/indoo.design/slides/slide2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block large-image" src="assets/indoo.design/slides/slide1.jpg" alt="Third slide">
    </div>
  </div>
</div>
	<!-- <img class="large-image" src="assets/indoo.design/slides/slide1.jpg"> -->
</section>

<div class="d-flex flex-column phone-styles pt-5 d-block d-md-none">
	<div class="social-phone d-flex m-auto">
		<a href="https://www.facebook.com/indoodesign/" target="_blank"><img class="social-image" src="assets/indoo.design/icons/facebook.png"></a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="https://www.instagram.com/indoodesign/" target="_blank"><img class="social-image" src="assets/indoo.design/icons/instagram.png"></a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="https://www.pinterest.com/indoodesign/" target="_blank"><img class="social-image" src="assets/indoo.design/icons/pinterest.png"></a>
	</div>
	<div class="copyright-phone m-auto pt-5 align-self-end">
		<img class="copyright-symbol" src="assets/indoo.design/icons/copyright-symbol.png">
			indoo.design
	</div>
</div>
<script type='text/javascript' src="http://imsky.github.io/holder/holder.js"></script>