@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.main {
	width: 99.5vw;
	height: 98vh;
	padding:30px 10px 0px 30px;
	justify-content: space-between;

	@include media-breakpoint-down(sm) {
		flex-direction: column;
		width: 100%;
		height: 100%;
	}
}

.large-menu {
	justify-content: space-between;
	width: 100%;
	padding-right: 20px;
}

.links {
	padding-top: 10px;
	@include media-breakpoint-down(sm) {
		flex-direction: row !important;
	}
}

.links p {
    line-height: 9px;
    margin-bottom: 10px;
}

.links p:hover {
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}

.separator {
	display: none;
	@include media-breakpoint-down(sm) {
		display: unset;
	}
}

.large-image {
	max-width: 78vw;
	max-height: 92vh;

	@include media-breakpoint-down(sm) {
		max-height: 100%;
		max-width: 100%;
	}
}

.social-image {
	max-height: 15px;
	max-width: 15px;
}

.logo {
	width: 70px;
	height: 50px;
}

.logo-links {
	justify-content: space-between;
	margin-top: 0px;

	@include media-breakpoint-down(md) {
		flex-direction: column;
		height: 250px;
		margin: 0 auto;
	}

	@include media-breakpoint-down(sm) {
		flex-direction: row;
		height: 100%;
		margin: 0;
	}
}

.copyright-social {
	justify-content: space-between;
	font-size: 9px;

	@include media-breakpoint-down(md) {
		flex-direction: column;
		height: 50px;
		margin: 0 auto;
		flex-direction: column-reverse;
	}

	@include media-breakpoint-down(sm) {
		display: none !important;
		flex-direction: row;
		height: 100%;
		margin: 0;
	}
}

.copyright {
	@include media-breakpoint-down(md) {
		padding-left: 20px;
	}

	@include media-breakpoint-down(sm) {
		padding-left: 0;
	} 
    color:#808080;
    font-size:10px;
}

.social {
	width: 100px;
	justify-content: space-around;
}

.copyright-symbol {
	max-height: 7px;
	max-width: 7px;
}

.phone-styles {
	height: 100%;
	justify-content: space-between;
}

.social-phone {
	display: none !important;
	justify-content: space-between;

	@include media-breakpoint-down(sm) {
		display: unset !important;
	}
}

.copyright-phone {
	display: none;
	align-self: bottom;
	padding: auto;
	padding-bottom: 20px;

	@include media-breakpoint-down(sm) {
		display: unset;
	}
}

a {
	color: black;
}

.titleclass {
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 3px;
}

.titleclass2 {
    font-family: Montserrat;
    text-transform: lowercase;
    font-size: 8px;
    letter-spacing: 3px;
    color: #808080;
}