<div class="main d-flex">
	<div class="large-menu d-flex flex-column">
		<div class="logo-links d-flex pb-3">
			<img class="logo" src="assets/indoo.design/logo.png">
			<div class="links d-flex flex-column">
				<p routerLink="/projects">Projects</p>
				<p class="separator">&nbsp;-&nbsp;</p>
				<p routerLink="/objects">Objects</p>
				<p class="separator">&nbsp;-&nbsp;</p>
				<p routerLink="/contact">Contact</p>
			</div>
		</div>
		<div class="copyright-social d-flex">
			<div class="copyright">
				<img class="copyright-symbol" src="assets/indoo.design/icons/copyright-symbol.png">
				indoo.design
			</div>
			<div class="social d-flex">
				<img class="social-image" src="assets/indoo.design/icons/facebook.png">
				<img class="social-image" src="assets/indoo.design/icons/instagram.png">
				<img class="social-image" src="assets/indoo.design/icons/pinterest.png">
			</div>
		</div>
	</div>
	<div class="large-image">
		<img class="large-image pr-3" src="assets/indoo.design/slides/slide1.jpg">		
	</div>
</div>

<div class="d-flex flex-column phone-styles pt-5">
	<div class="social-phone d-flex m-auto">
		<img class="social-image" src="assets/indoo.design/icons/facebook.png">
		&nbsp;&nbsp;&nbsp;&nbsp;
		<img class="social-image" src="assets/indoo.design/icons/instagram.png">
		&nbsp;&nbsp;&nbsp;&nbsp;
		<img class="social-image" src="assets/indoo.design/icons/pinterest.png">
	</div>
	<div class="copyright-phone m-auto pt-5 align-self-end">
		<img class="copyright-symbol" src="assets/indoo.design/icons/copyright-symbol.png">
			indoo.design
	</div>
</div>